{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <form method="GET">
    <a href="{% url 'Form' %}">URL Form</a>
    <a href="{% url 'Search' %}">Search</a>
    <a href="{% url 'Getimage' %}">Getimage</a>
    <h1 class="mt-2">Search Form</h1>
    <hr class="mt-0 mb-4">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-success">Search</button>
  </form>
    {% for r in results %}
<li>
  <span><b>Name:</b> {{ r.name }}</span>
  <span><b>Url:</b> {{ r.url }}</span>
  <span><b>Phone:</b> {{ r.PhoneNum }}</span>
</li>

{% endfor %}

{% endblock %}>